<%@ Master Language="C#" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<script runat="server">

</script>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <style type="text/css">
        .style1
        {
            width: 800px;
            height: 400px;
        }
        .style2
        {
            width: 200px;
            height: 50px;
        }
        .style3
        {
            width: 200px;
            height: 50px;
        }
        .style4
        {
            width: 200px;
            height: 50px;
        }
        .style5
        {
            width: 200px;
            height: 50px;
        }
    </style>
    <script type="text/javascript">
        window.onload = function () {
            var Hurl = window.location.href;
            var s = Hurl.split('?');
            var ss = s[1].split('=');
            var a = ss[1];
            if (a == 1) {
                document.getElementById("1").src = 'images/按钮.png';
            }
            if (a == 2) {
                document.getElementById("2").src = 'images/按钮.png';
            }
            if (a == 3) {
                document.getElementById("3").src = 'images/按钮.png';
            }
        };
        
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div style="text-align: center">
        <a href="主页.aspx">
            <img alt="" class="style1" src="images/logo.png" /></a>
    </div>
    </form>
    <p>
        <div style="text-align: center">
            <a href="http://www.baidu.com">
                <img alt="" class="style2" src="images/论坛.png" /></a> <a href="商城.aspx?a=1">
                    <img id="1" alt="" class="style3" src="images/商城.png" /></a> <a href="下载.aspx?a=2">
                        <img id="2" alt="" class="style4" src="images/下载.png" /></a> <a href="充值.aspx?a=3">
                            <img id="3" alt="" class="style5" src="images/充值.png" />
                        </a>
        </div>
    </p>
    <asp:ContentPlaceHolder ID="ContentPlaceHolder1"
                runat="server">
            </asp:ContentPlaceHolder>
</body>
</html>
